@tailwind base;
@tailwind components;
@tailwind utilities;


.home-page{
  background-color: #101c22;

  background-image:
    radial-gradient(circle at 5% 20%, rgba(0, 198, 255, 0.15) 10%, transparent 30%),
    radial-gradient(circle at 100% 30%, rgba(62, 141, 226, 0.2) 10%, transparent 20%),
    radial-gradient(circle at 80% 90%, rgba(108, 21, 230, 0.15) 10%, transparent 30%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
 
}


.input-field{
  box-shadow: 0 0 10px rgba(0, 198, 255, 0.9);
}

.boxes{
 @apply h-full w-40 border border-white/10 bg-white/5 rounded-2xl hover:bg-primary/30 hover:border-primary/60 hover:-translate-y-1 hover:shadow-glow-primary 
 flex flex-col justify-center items-center gap-4 text-white flex-wrap
}
.boxes:hover{
  box-shadow: 0 0 20px 0px rgba(19, 164, 236, 0.4);
  
}
.week{
  @apply font-semibold text-xl text-white/70 
}

.degree{
  @apply font-bold text-lg flex pt-3
}
.deg{
  @apply -mt-5 text-sm text-white/40
}

.chartboard{
  @apply relative h-full w-[82%] border rounded border-white/10 bg-white/5 px-10 py-5 
}